<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Welcome to Fakebook, <%= @user.first_name %></h1>
	<p>You have successfully signed up to Fakebook, Travis's Facebook clone!</p>
	<p>
		You can add users, make posts, like posts, make comments on posts, etc.  There are a few default users that you can find on the users page.  The default users will respond to any friend requests you send them and then you can see all their posts and comments!
	</p>
	<p>Thanks for joining and have a great day!</p>
</body>
</html>