<li class="dropdown">
	<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
		Notifications [<%= current_user.unread_notifications.count %>] <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<% if current_user.unread_notifications.count > 0 %>
			<% current_user.unread_notifications.each do |notification| %>
				<li>
	    			<%= link_to "#{notification.content}", notification %>
	    		</li>
	    	<% end %>		
	    <% end %>
		<li class="divider"></li>
		<li>
			<%= link_to "View all Notifications", notifications_path %>
		</li>
	</ul>
</li>